footer{
    width: 100%;
    color: #f5f5f5;
}

.footer_link{
    text-decoration: none;
}
#footer_content{
    background-color: #171717;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: whitesmoke;
    border-radius: 50%;
    transition: all 0.4s;
    margin-top: 10px;
}
#footer_social_media .footer_link i {
    font-size: 1.25rem;
}
#footer_social_media .footer_link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#watsapp{
    background-color: #25d366;
}

.footer-list {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list li a {
    text-decoration: none;
}

.footer-list .footer-link{
    color: rgb(136, 133, 133);
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: #7f37c9;
}
#footer_subcribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subcribe p {
    color: rgb(136, 133, 133);
}
.emal-texto{
    display: flex;
    border-radius: 5px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: rgb(99, 95, 95);
}
.emal-texto a{
    margin: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}
.emal-texto a:hover{
    color: #7f37c9;
    transition: all 0.4s;
}
.emal-texto i {
    font-size: 1.5rem;
    margin-right: 10px;
}
.emal-texto i:hover{
    color: #7f37c9;
    transition: all 0.4s;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #171717;
    font-size: 0.9rem;
    padding: 0.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px){
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 486px){
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        
    }
}
