@charset "UTF-8";   

@media  (max-width: 550px) { /*Celular*/
    main{
        width: 100vw;
    }
    .liguas{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: wheat;
    }
    .foto {
        display: flex;
        border-radius: 0px;
    }
    .bloco {
        display: none;
    }
    .bloco-cll {
        display: block;
    } 

    .barra-html, .barra-css, .barra-js{
        width: 200px;
    }
    ul li .item-proga .texto-html{
    width: 170px;
    }
    ul li .item-proga .texto-css{
        width: 150px;
    }
    ul li .item-proga .texto-js{
        width: 110px;
        font-size: 1.2em;
    }
}
@media  (max-width: 478px) {
    .foto {
        width: 100px;
        height: 100px;
    }
}
@media screen and (min-width: 200px) {
    main{
        width: 100vw;
    }
}
@media screen and (min-width: 600px) {
    .bloco-cll{
        display: none;
    }
}






@media screen and (min-width: 800px){ /*Desktop Tv*/
    main {
        width: 780px;
    }
    .bloco-cll {
        display: none;
    }
}
@media screen and (min-width: 1300px){
    main {
        width: 100vw;
    }
    .bloco-cll {
        display: none;
    }
    .lingauem-proga {
    display: flex;
    flex-direction: row;
    }
}
@media screen and (min-width: 1800px){
    main{
        width: 1800px;
    }
}
