@charset "UTF-8";

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    height: 8vh;
}
.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}
.nav-list {
    background: transparent;
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}