@charset "UTF-8";


.container-menu{
    max-width: 1280px;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header{
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
}
header ul.menu {
    list-style-type: none;
    background: transparent;
}
header ul.menu li {
    display: inline-block;
    margin: 0 40px;
}
header ul.menu li a {
    color: white;
    text-decoration: none;
}