@charset "UTF-8";   

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(42, 41, 41);
}
main{
    width: 1300px;
    height: 100vh;
    margin: auto;

    transition: width .3s, heiht .3s;
}



/*BANER*/
#topo {
    position: relative;
    width: 100%;
    height: 400px;
    background: url(imagens/pexels-pixabay-315191.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 5px 10px rgb(66, 65, 65);
}
#texto {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    text-align: center;
    border-radius: 40px;
    
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
}
#opacit-topo{
    background-color: rgba(0, 0, 0, 0.697);
    width: 100%;
    height: 100%;
}
#texto p, h1, h2 {
    color: white;
}
#texto p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
}
#texto h1 {
    font-size: 2.7em;
}
#texto h2 {
    font-size: 2em;
}






/*main*/
#container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(36, 36, 36);
    border-radius: 20px;

    transition: width .3s, heiht .3s;
}
#sobre-mim{
    width: 100%;
    background-color: rgba(81, 79, 84, 0.423);
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#sobre-mim p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    font-size: 2em;
    color: white;
}



.bloco{
    margin: 30px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(59, 57, 57);
    border: 4px 3px 1px solid rgba(0, 0, 0, 0.582);
}
.bloco-cell {
    display: block;
    margin: 30px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(59, 57, 57);
    border: 4px 3px 1px solid rgba(0, 0, 0, 0.582);
}
.bloco-cll p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
}
.bloco p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
}
.foto {
    background: url(imagens/20220731114013.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 30px;
    width: 300px;
    height: 300px;
}
.liguas {
    display: flex;
    flex-direction: column;
    background-color: rgba(169, 169, 169, 0.121);
    border-radius: 10px;
    color: wheat;
}
.liguas h2 {
    margin: 10px;
}
#li {
    margin: 10px;
}
#li p {
    padding-bottom: 10px;
}






