@charset "UTF-8";   

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(42, 41, 41);
}
main{
    width: 1300px;
    height: 100vh;
    margin: auto;

    transition: width .3s, heiht .3s;
}



/*BANER*/
#topo {
    position: relative;
    width: 100%;
    height: 400px;
    background: url(imagens/pexels-pixabay-315191.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 5px 10px rgb(66, 65, 65);
}
#texto {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    text-align: center;
    border-radius: 40px;
    
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
}
#opacit-topo{
    background-color: rgba(0, 0, 0, 0.697);
    width: 100%;
    height: 100%;
}
#texto p, h1, h2 {
    color: white;
}
#texto p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
}
#texto h1 {
    font-size: 2.7em;
}
#texto h2 {
    font-size: 2em;
}






/*main*/
#container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(36, 36, 36);
    

    transition: width .3s, heiht .3s;
}
#sobre-mim{
    width: 100%;
    background-color: rgba(81, 79, 84, 0.423);
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#sobre-mim p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    font-size: 2em;
    color: white;
}



.bloco{
    margin: 30px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(59, 57, 57);
    border: 4px 3px 1px solid rgba(0, 0, 0, 0.582);
}
.bloco-cell {
    display: block;
    margin: 30px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(59, 57, 57);
    border: 4px 3px 1px solid rgba(0, 0, 0, 0.582);
}
.bloco-cll p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
}
.bloco p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
}
.foto {
    background: url(imagens/20220731114013.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 30px;
    width: 300px;
    height: 300px;
}
.liguas {
    display: flex;
    flex-direction: column;
    background-color: rgba(169, 169, 169, 0.121);
    border-radius: 10px;
    color: wheat;
}
.liguas h2 {
    margin: 10px;
}
#li {
    margin: 10px;
}
#li p {
    padding-bottom: 10px;
}






.habilidaes{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(36, 36, 36);
    

    transition: width .3s, heiht .3s;
}
.texto-ha{
    width: 100%;
    background-image: linear-gradient(to left, #272a34, #333645);
    text-align: center;
}
.texto-ha p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: rgb(239, 234, 234);
    margin-top: 20px;
}


ul {
    display: flex;
    background-color: rgb(30, 30, 30);
    list-style-type: none;
    justify-content: center;
}




.lingauem-proga {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.item-proga {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul li .html-ico  {
    display: flex;
    color: rgb(5, 122, 218);
    font-size: 1.7em;
    margin: 10px;
    padding: 10px;
}
ul li .item-proga .texto-html {
    font-size: 1.4em;
    color: white;
    width: 270px;
    height: 38px;
    background-image: linear-gradient(to left, #DE479C, #F55B65);
    border-radius: 20px;
}
.barra-html{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 300px;
    height: 40px;
    background-color: rgb(54, 54, 57);
    border-radius: 20px;
}
.barra-html .texto-html p {
    text-align: center;
    margin-top: 8px;
}



ul li .css-ico  {
    display: flex;
    color: rgb(5, 122, 218);
    font-size: 1.7em;
    margin: 10px;
    padding: 10px;
}
.barra-css{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 300px;
    height: 40px;
    background-color: rgb(54, 54, 57);
    border-radius: 20px;
}
ul li .item-proga .texto-css {
    font-size: 1.4em;
    color: white;
    width: 230px;
    height: 38px;
    background-image: linear-gradient(to left, #DE479C, #F55B65);
    border-radius: 20px;
}
.barra-css .texto-css p {
    text-align: center;
    margin-top: 8px;
}






ul li .js-ico  {
    display: flex;
    color: rgb(5, 122, 218);
    font-size: 1.7em;
    margin: 10px;
    padding: 10px;
}
.barra-js{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 300px;
    height: 40px;
    background-color: rgb(54, 54, 57);
    border-radius: 20px;
}
ul li .item-proga .texto-js {
    font-size: 1.4em;
    color: white;
    width: 140px;
    height: 38px;
    background-image: linear-gradient(to left, #DE479C, #F55B65);
    border-radius: 20px;
}
.barra-js .texto-js p {
    text-align: center;
    margin-top: 8px;
}






#projetos {
    background-color: rgb(36, 36, 36);
}
.conteudo {
    background-color: rgb(36, 36, 36);
}
#texto-projeto{
    width: 100%;
    background-color: rgba(81, 79, 84, 0.423);
}
#texto-projeto h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
}



.conteiner-slider {
    display: flex;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#conteiner-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}
.slider{
    display: flex;
    display: none;
    transition: opacity .2s;
    width: 100%;
    border-radius: 10px;
}
.on{
    display: flex;
}
#prev-button, #next-button{
    width: 30px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}
#prev-button {
    transform: rotate(180deg);
}