@charset "UTF-8";   

@media  (max-width: 640px) { /*Celular*/
    main{
        width: 100%;
    }
    #my-foto{
    width: 300px;
    height: 300px;
    }
    #texto-sobre-my{
        width: 300px;
    }
    #skills-dectop{
        display: none;
    }
    #skills-mob{
        display: block;
    }
    .menu{
        display: none;
    }
    #texto p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    }
    #texto h1 {
        font-size: 1.7em;
    }
    #texto h2 {
        font-size: 1em;
    }

    .liguas{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: wheat;
    }


    .barra-html, .barra-css, .barra-js{
        width: 200px;
    }
    ul li .item-proga .texto-html{
    width: 170px;
    }
    ul li .item-proga .texto-css{
        width: 150px;
    }
    ul li .item-proga .texto-js{
        width: 110px;
        font-size: 1.2em;
    }

    .conteiner-slider{
        display: flex;
    }
    .rede-socias{
        margin: 10px;
        text-align: center;
        width: 100%;
    }
}


@media  (max-width: 478px) {
    body {
        overflow-x: hidden;
    }
    
    ul.nav-list {
        overflow-x: hidden;
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        z-index: 1;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: rgb(84, 82, 82);
        align-items: center;

        transform: translateX(100%);
        
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    div.mobile-menu{
        display: block;
    }
}
@media screen and (min-width: 200px) {
    main{
        width: 100%;
    }
    .conteiner-slider{
        display: flex;
    }
    .conaiter-desktop {
        display: none;
    }
}

@media screen and (max-width: 1430px){
    header.rolagem{
        border-radius: 0px 0px 10px 10px;
    }
    .container-menu{
        position: relative;
    }
}




@media screen and (min-width: 800px){ /*Desktop Tv*/
    main {
        width: 780px;
    }
    .conteiner-slider{
        display: flex;
    }
    .conaiter-desktop {
        display: none;
    }
}
@media screen and (min-width: 1300px){
    main {
        width: 100%;
    }
    .bloco-cll {
        display: none;
    }
    .lingauem-proga {
    display: flex;
    flex-direction: row;
    }
    .conteiner-dk {
        width: 100%;
    }
    .conteiner-slider{
        display: none;
    }
    .conaiter-desktop {
        display: flex;
    }
    
}
@media screen and (min-width: 1800px){
    main{
        width: 1800px;
    }
    .conteiner-dk {
        width: 100%;
    }
    
}
