@charset "UTF-8";

.container-menu{
    max-width: 1280px;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    transition: .5s
}
header{
    justify-content: flex-end;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    top: 0;
    left: 0;

    transition: .5s;
}
header.rolagem {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color:rgb(19, 18, 18);
}
header.rolagem .flex{
    justify-content: center;
}
header ul.menu {
    padding: 30px;
    list-style-type: none;
    background: transparent;
}
header ul.menu li {
    display: inline-block;
    margin: 0 40px;
}
header ul.menu li a {
    scroll-behavior: smooth;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}
header ul.menu li a:hover{
    opacity: 0.7;
}
summary{
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}
summary:hover{
    opacity: 0.7;
}
details summary{
    list-style-type: none;
    align-content: center;
    text-align: center;
}
.ul-nav {
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgba(54, 48, 48, 0.732);
    border-radius: 10px;
}



/*menu mobile*/
.menu-mobile{
    display: none;
}


@media  (max-width: 573px){
    .menu-mobile{
    width: 60%;
    position: fixed;
    background-color: rgb(50, 50, 50);
    z-index: 1000;
    height: 100vh;
    display: block;
    
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    }
    .menu-mob{
        height: 100vh;
        display: block;
        
    }
    .menu-mob li {
        padding: 40px;
    }
    .menu-mob a{
        text-decoration: none;
        list-style: none;
        color: white;
        text-align: left;
        transition: 0.2s;
    }
    .menu-mob a:hover{
        opacity: 0.7;
        margin: 10px;
        transition-duration: 0.2s;
    }
    .btn-fechar{
        margin: 20px;
        color: aliceblue;
        font-size: 1.8em;
        cursor: pointer;
        text-align: center;
        transition: 1s;
    }
    .btn-fechar:hover{
        transition-timing-function: ease;
        transition-duration: 1s;
        transform: scale(1.2);
    }
    details summary{
        list-style-type: none;
        align-content: none;
        text-align: center;
    }
}