@charset "UTF-8";   

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body{
    background-color: rgb(42, 41, 41);
    justify-content: center;
}
main{
    margin: auto;
    background-color: rgb(42, 41, 41);
    transition: width .3s, heiht .3s;
}
.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0px);
    transition: all 2s;
    transform: translateX(0);
}


/*MENU*/
.container-menu{
    max-width: 1280px;
    margin: auto;
}
header{
    justify-content: flex-end;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    top: 0;
    left: 0;

    transition: all .5s;
}
header.rolagem {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color:rgb(19, 18, 18);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    transition: .5s
}
header.rolagem .flex{
    justify-content: center;
}
header ul.menu {
    padding: 30px;
    list-style-type: none;
    background: transparent;
}
header ul.menu li {
    display: inline-block;
    margin: 0 40px;
}
header ul.menu li a {
    scroll-behavior: smooth;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}
header ul.menu li a:hover{
    opacity: 0.7;
}
summary{
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}
summary:hover{
    opacity: 0.7;
}
details summary{
    list-style-type: none;
    align-content: center;
    text-align: center;
}
.ul-nav {
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgba(54, 48, 48, 0.732);
    border-radius: 10px;
}
/*menu mobile*/
.menu-mobile, .menu-burgue i{
    display: none;
}
@keyframes showSidebar{
    from {margin-left: -100vw;}
    top {margin-left: -0vw;}
}
/*MENU FIM*/


/*BANER*/
#topo {
    background: url(../imagens/pexels-josh-sorenson-1714208.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    box-shadow: inset 0px 0px 5px 5px rgb(66, 65, 65);
    background-attachment: fixed;
    margin-bottom: 10px;
}
#texto {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;

    transform: translate(-50%, -50%);
}
#opacit-topo{
    position: relative;
    background-color: rgba(0, 0, 0, 0.305);
    width: 100%;
    height: 400px;
}
#texto p, h1, h2 {
    color: white;
}
#texto p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
}
#texto h1 {
    font-size: 2.7em;
    text-transform: uppercase;
    width: 16ch;

    animation: typing 2s steps(22, end), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    0%{
        width: 0;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}

#texto h2 {
    font-size: 2em;
}







/*main*/
#apres{
    width: 100%;
    height: 100vh;
    background: url(../imagens/pexels-josh-sorenson-1714208.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    box-shadow: inset 0px 0px 5px 5px rgb(66, 65, 65);
    background-attachment: fixed;
}
#container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(36, 36, 36);
    

    transition: width .3s, heiht .3s;
}
#sobre-mim{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#my-foto{
    width: 400px;
    height: 500px;
    background-image: url(/imagens/IMG_20210629_185715_199.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    margin: 10px;
}
#container-info{
    display: flex;
    flex-direction: column;
}
#texto-sobre-my{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 20px;
    gap: 15px;
    font-weight: bold;
    font-size: 1em;
    color: white;
}
#infomacoes{
    margin: 30px;
    gap: 10px;
    display: grid;
    grid-template-columns: 40px 1fr 40px 1fr;
}
#texto-sobre-my h1{
    font-size: 2.5em;
}
#texto-sobre-my h3{
    color: rgb(2, 156, 203);
}
#texto-sobre-my p {
    color: rgb(173, 173, 173);
}
#infomacoes h4 {
    color: white;
    font-weight: bold;
}
#infomacoes p {
    color: rgb(179, 179, 179);
}
#container-info a{
    margin-left: 20px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(2, 156, 203);
    transition: all 0.4s;
}
#container-info a:hover{
    transform: scale(104%);
    border: white 1px solid;
}
#container-info a button {
    border: none;
    width: 100px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    color: white;
    transition: all 0.4s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container-info a:hover button{
    color: rgb(0, 255, 136);
}



.bloco{
    margin: 30px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(59, 57, 57);
    border: 4px 3px 1px solid rgba(0, 0, 0, 0.582);
}
.bloco-cell {
    display: block;
    margin: 30px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(59, 57, 57);
    border: 4px 3px 1px solid rgba(0, 0, 0, 0.582);
}
.bloco-cll p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
}
.bloco p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
}
.foto {
    background: url(../imagens/IMG_20210629_185715_199.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 30px;
    width: 300px;
    height: 300px;
}
.liguas {
    display: flex;
    flex-direction: column;
    background-color: rgba(169, 169, 169, 0.121);
    border-radius: 10px;
    color: wheat;
}
.liguas h2 {
    margin: 10px;
}
#li {
    margin: 10px;
}
#li p {
    padding-bottom: 10px;
}
.rede-socias{
    background-color:  rgba(169, 169, 169, 0.121);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.rede-socias h2 {
    margin: 10px;
}
#texto-rede{
    margin: 10px;
}
#texto-rede p {
    padding-bottom: 10px;
}
#texto-rede > p > a {
    text-decoration: none;
    color: gainsboro;
}
#texto-rede > p > a:hover{
    color: rgb(100, 189, 10);
}
#texto-rede > p > .icone-emal {
    color: #F55B65;
}
#texto-rede > p > .icone-emal:hover{
    color: #DE479C;
}



/*SKILSS*/
#habilidaes{
    margin-top: 40px;
    color: white;
    width: 100%;
}
#skills-mob{
    display: none;
    width: 100%;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    padding-top: 30px;
}
.sub-title span{
    color: #0ef;
}
section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 100%;
    height: 500px;
    padding: 75px 90px;
}
.heading{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    
}
.bar{
    font-size: 23px;
}
.techical-bars .bar{
    margin: 40px 0;
}
.techical-bars .bar:first-child{
    margin-top: 0;
}
.techical-bars .bar:last-child{
    margin-bottom: 0;
}
.techical-bars .bar .info{
    margin-bottom: 5px;
}
.techical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.techical-bars .bar .progress-line{
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.techical-bars .bar .progress-line span{
    position: absolute;
    height: 100%;
    background-color: #0ef;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 70%;
}
.progress-line.js span{
    width: 60%;
}
.progress-line.python span{
    width: 40%;
}
.progress-line.react span{
    width: 40%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "70%";
}
.progress-line.js span::after{
    content: "60%";
}
.progress-line.python span::after{
    content: "40%";
}
.progress-line.react span::after{
    content: "40%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}


/*skilss desctop*/
#skills-dectop h1 {
    text-align: center;
}

.radial-bars{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.radial-bar .text{
    margin-left: 40%;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    width: 120px;
    height: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: #000;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1{animation:  animate-path1 1s 1s linear forwards;}
.path-2{animation:  animate-path2 1s 1s linear forwards;}
.path-3{animation:  animate-path3 1s 1s linear forwards;}
.path-4{animation:  animate-path4 1s 1s linear forwards;}
.path-5{animation:  animate-path5 1s 1s linear forwards;}
@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 80;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 230;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 280;
    }
}
@keyframes animate-path5{
    100%{
        stroke-dashoffset: 280;
    }
}
.radial-bar .prercentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
}
.progress-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}
/*skilss FIM*/



/*PROJETOS*/
#projetos {
    width: 100%;
    height: 100%;
    font-family: Poppins;
    color: #eee;
}
.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
    box-shadow: 0px 10px 20px 20px  rgba(0, 0, 0, 0.373);
    margin-bottom: 50px;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 40%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
    cursor: pointer;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    top: 60%;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
    cursor: pointer;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}
/*PROJETOS FIM*/


/*MEUS SEVIÇOS*/
#my-sevices{
    display: flex;
    flex-direction: column;
    width: 990px;
    justify-content: center;
    align-items: center;
}
#my-sevices .sub-title{
    color: #0ef;
}
#my-sevices .sub-title span{
    color: white;
}
#container-servisos{
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.blocos-sev{
    width: 300px;
    height: 200px;
    background-color: #464646;
    border-radius: 10px;
}
.blocos-sev i {
    font-size: 2.5em;
    margin: 20px;
}
.blocos-sev h3{
    color: white;
    margin: 0px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.blocos-sev p{
    margin: 0px 20px 20px 20px;
    color: rgb(179, 179, 179);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
}
#container-servisos :nth-child(1){
    transition-delay: 0ms;
}
#container-servisos :nth-child(2){
    transition-delay: 300ms;
}
#container-servisos :nth-child(3){
    transition-delay: 500ms;
}
#container-servisos :nth-child(4){
    transition-delay: 0ms;
}
#container-servisos :nth-child(5){
    transition-delay: 300ms;
}
#container-servisos :nth-child(6){
    transition-delay: 500ms;
}
/*MEUS SERÇOS FIM*/


