@charset "UTF-8";   

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body{
    background-color: rgb(42, 41, 41);
    justify-content: center;
}
main{
    margin: auto;
    background-color: rgb(42, 41, 41);
    transition: width .3s, heiht .3s;
}
.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0px);
    transition: all 2s;
    transform: translateX(0);
}


/*BANER*/
#topo {
    background: url(../imagens/pexels-josh-sorenson-1714208.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 5px 5px rgb(66, 65, 65);
}
#texto {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;

    transform: translate(-50%, -50%);
}
#opacit-topo{
    position: relative;
    background-color: rgba(0, 0, 0, 0.305);
    width: 100%;
    height: 400px;
}
#texto p, h1, h2 {
    color: white;
}
#texto p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
}
#texto h1 {
    font-size: 2.7em;
    text-transform: uppercase;
    width: 16ch;

    animation: typing 2s steps(22, end), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    0%{
        width: 0;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}

#texto h2 {
    font-size: 2em;
}






/*main*/
#container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(36, 36, 36);
    

    transition: width .3s, heiht .3s;
}
#sobre-mim{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#my-foto{
    width: 400px;
    height: 500px;
    background-image: url(/imagens/IMG_20210629_185715_199.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    margin: 10px;
}
#container-info{
    display: flex;
    flex-direction: column;
}
#texto-sobre-my{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 20px;
    gap: 15px;
    font-weight: bold;
    font-size: 1em;
    color: white;
}
#infomacoes{
    margin: 30px;
    gap: 10px;
    display: grid;
    grid-template-columns: 40px 1fr 40px 1fr;
}
#texto-sobre-my h1{
    font-size: 2.5em;
}
#texto-sobre-my h3{
    color: rgb(2, 156, 203);
}
#texto-sobre-my p {
    color: rgb(173, 173, 173);
}
#infomacoes h4 {
    color: white;
    font-weight: bold;
}
#infomacoes p {
    color: rgb(179, 179, 179);
}
#container-info a{
    margin-left: 20px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(2, 156, 203);
    transition: all 0.4s;
}
#container-info a:hover{
    transform: scale(104%);
    border: white 1px solid;
}
#container-info a button {
    border: none;
    width: 100px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    color: white;
    transition: all 0.4s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container-info a:hover button{
    color: rgb(0, 255, 136);
}



.bloco{
    margin: 30px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(59, 57, 57);
    border: 4px 3px 1px solid rgba(0, 0, 0, 0.582);
}
.bloco-cell {
    display: block;
    margin: 30px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(59, 57, 57);
    border: 4px 3px 1px solid rgba(0, 0, 0, 0.582);
}
.bloco-cll p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
}
.bloco p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
}
.foto {
    background: url(../imagens/IMG_20210629_185715_199.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 30px;
    width: 300px;
    height: 300px;
}
.liguas {
    display: flex;
    flex-direction: column;
    background-color: rgba(169, 169, 169, 0.121);
    border-radius: 10px;
    color: wheat;
}
.liguas h2 {
    margin: 10px;
}
#li {
    margin: 10px;
}
#li p {
    padding-bottom: 10px;
}
.rede-socias{
    background-color:  rgba(169, 169, 169, 0.121);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.rede-socias h2 {
    margin: 10px;
}
#texto-rede{
    margin: 10px;
}
#texto-rede p {
    padding-bottom: 10px;
}
#texto-rede > p > a {
    text-decoration: none;
    color: gainsboro;
}
#texto-rede > p > a:hover{
    color: rgb(100, 189, 10);
}
#texto-rede > p > .icone-emal {
    color: #F55B65;
}
#texto-rede > p > .icone-emal:hover{
    color: #DE479C;
}



/*SKILSS*/
#habilidaes{
    margin-top: 40px;
    color: white;
    width: 100%;
}
#skills-mob{
    display: none;
    width: 100%;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    padding-top: 30px;
}
.sub-title span{
    color: #0ef;
}
section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 100%;
    height: 500px;
    padding: 75px 90px;
}
.heading{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.techical-bars .bar{
    margin: 40px 0;
}
.techical-bars .bar:first-child{
    margin-top: 0;
}
.techical-bars .bar:last-child{
    margin-bottom: 0;
}
.techical-bars .bar .info{
    margin-bottom: 5px;
}
.techical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.techical-bars .bar .progress-line{
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.techical-bars .bar .progress-line span{
    position: absolute;
    height: 100%;
    background-color: #0ef;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 70%;
}
.progress-line.js span{
    width: 60%;
}
.progress-line.python span{
    width: 40%;
}
.progress-line.react span{
    width: 40%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "70%";
}
.progress-line.js span::after{
    content: "60%";
}
.progress-line.python span::after{
    content: "40%";
}
.progress-line.react span::after{
    content: "40%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}

/*skilss desctop*/
#skills-dectop h1 {
    text-align: center;
}

.radial-bars{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.radial-bar .text{
    margin-left: 40%;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    width: 120px;
    height: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: #000;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation:  animate-path1 1s 1s linear forwards;}
.path-2{animation:  animate-path2 1s 1s linear forwards;}
.path-3{animation:  animate-path3 1s 1s linear forwards;}
.path-4{animation:  animate-path4 1s 1s linear forwards;}
.path-5{animation:  animate-path5 1s 1s linear forwards;}
@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 80;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 230;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 280;
    }
}
@keyframes animate-path5{
    100%{
        stroke-dashoffset: 280;
    }
}
.radial-bar .prercentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
}
.progress-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}
/*skilss FIM*/




#projetos {
    background-color: rgb(36, 36, 36);
    width: 100%;
}
.conteudo {
    background-color: rgb(36, 36, 36);      ;
}
#texto-projeto{
    background-color: rgba(81, 79, 84, 0.423);
}
#texto-projeto h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
}



.conteiner-slider {
    display: flex;
    width: 100%;
    display: none;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.conaiter-desktop img {
    width: 300px;
    padding: 10px;
}


.conteiner-dk{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.conteiner-dk img {
    border: 20px;
}
.slider{
    display: flex;
    display: none;
    transition: opacity .2s;
    width: 100%;
    border-radius: 10px;
}
.on{
    display: flex;
}
#prev-button, #next-button{
    width: 30px;
    height: 20px;
    border: none;
    background-color: transparent;
    color: beige;
    cursor: pointer;
}
#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}
#prev-button {
    transform: rotate(180deg);
}